<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "net.min-net.ebook"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>名謙數位科技電子書範例</name>

    <description>
        電子書範例應用程式
    </description>

    <author href="https://build.phonegap.com" email="shady.tw@gmail.com">
        Tsai Toan-En
    </author>

	<gap:platform name="ios" />
	<gap:platform name="android" />

</widget>